@charset "utf-8";
@import url(fonts.css);

/*common*/
html {font-size: 10px}
body {font: 400 1.8rem 'IBM Plex Sans KR', sans-serif; color: #333;letter-spacing: -0.5px}
#wrap {position: relative;overflow: hidden}
.inner {padding: 0 35px}
button {cursor: pointer}
.hide {display: none}
.block {display: block}
.on {display: block}
h2 {margin: 30px 0;font-size: 1.9rem;color: #444;letter-spacing: 1px;text-align: center}
.like > i {margin-right: 5px;color: #ea5465}

/*header*/
header {position: relative;width: 100%;height: auto;top: 0;background-color: rgba(255,255,255,.7);z-index: 100}
header .top-head {position: relative;height: 55px;box-sizing: border-box}
header .top-head h1 {font: 1.8rem 'Lexend Zetta', sans-serif;text-align: center;line-height: 3.4}
header .top-head > a {position: absolute;top: 17px;left: 3%}
header .top-head .bag-btn {left: auto;right: 3%}
header .top-head > a > img {width: 27px;height: 27px;}
header nav {position: absolute;top: 0;width: 100%;height: 100vh;padding: 160px 50px;box-sizing: border-box;background-color: #505786;z-index: 1}
header nav a {display: block;}
header nav .plus-btn {display: inline-block;margin-left: 5px;width: 14px;height: 14px;background: url(../img/plus.png) no-repeat center/cover;vertical-align: middle}
header nav .plus-btn.on {background-image: url(../img/minus.png)}
header nav .tlist > a {height: 55px;font-size: 2.3rem;font-weight: 600;color: #fff}
header nav .mlist {margin-left: -8px;border-radius: 20px;background-color: #fff;opacity: .95;overflow: hidden}
header nav .mlist > li > a {padding: 10px 20px;box-sizing: border-box;border-bottom: 1.5px solid #d6d6d6;font-size: 1.6rem;font-weight: 600;color: #505786;}
header nav .blist > li a {height: 40px;padding: 10px 30px;box-sizing: border-box;border-bottom: 1px solid #d8d8d8;font-size: 1.45rem;color: #444}
header nav .logo {position: absolute;top: 4%;left: 50px;font: 500 2rem 'Lexend Zetta', sans-serif;color: rgb(255, 109, 2,.7)}
header nav .close-btn {position: absolute;font-size: 2.8rem;top: 2.5%;right: 5%;color: rgba(255,255,255,.85)}

/*sub-head*/
header .sub-head {position: relative;padding: 0 20px;height: 45px;background-color: #eaeaea;overflow: hidden}
header .sub-head.on {height: auto}
header .sub-head ul {width: 70%;margin: 0 auto;padding: 4px 15px;box-sizing: border-box;overflow: hidden;}
header .sub-head ul li {float: left;height: 30px;padding: 0 20px;box-sizing: border-box;margin: 5px 15px;border-radius: 30px;background-color: #fff;line-height: 1.5}
header .sub-head ul li > a {font-size: 1.33rem}

/*art-work*/
#art-work .work-list {height: 900px;padding: 30px 10px;box-sizing: border-box;background-color: #f0f0f0;overflow: hidden}
#art-work .work-list li {position: relative;float: left;margin-bottom: 10px;background: no-repeat center/cover}
#art-work .work-list li.basic {width: calc(100%/2 - 5px);margin-right: 10px;height: 250px}
#art-work .work-list li.basic.last {margin-right: 0}
#art-work .work-list li.large {width: 100%;height: 230px}
#art-work .work-list li.small {width: calc(100%/2 - 5px);height: 150px;margin-right: 10px}
#art-work .work-list li.small.last {margin-right: 0}
#art-work .work-list li > .best {position: absolute;top: 10px}
#art-work .work-list li > a {display: block;height: 100%}
#art-work .work-list li .art-info {position: absolute;width: 100%;padding: 0 10px;box-sizing: border-box;height: 30px;bottom: 0;background-color: rgba(0,0,0,0.3)}
#art-work .work-list li .art-info .name {left: 0;bottom: 0;}
#art-work .work-list li .art-info .name > p {float: left;}
#art-work .work-list li .art-info .name .author-name {margin-top: 6px;margin-right: 7px;font-size: 1.2rem;color: rgba(255,255,255,0.7)}
#art-work .work-list li .art-info .name {margin-top: 3px;font-size: 1.5rem;color: #fff}
#art-work .work-list li .like {float: right;margin-top: 5px;right: 0;bottom: 0;font-size: 1.4rem;color: #fff}
#art-work .work-list li:nth-child(1) {background-image: url(../img/cloud1.png)}
#art-work .work-list li:nth-child(2) {background-image: url(../img/cloud2.png)}
#art-work .work-list li:nth-child(3) {background-image: url(../img/cloud3.png)}
#art-work .work-list li:nth-child(4) {background-image: url(../img/cloud4.png)}
#art-work .work-list li:nth-child(5) {background-image: url(../img/cloud5.png)}
#art-work .work-list li:nth-child(6) {background-image: url(../img/cloud6.png)}
#art-work .work-list li:nth-child(7) {background-image: url(../img/cloud7.png)}