@media screen and (min-width: 1331px) and (max-width: 1680px) {
    .inner {width: 70%}
    .inner-s {width: 80%}
    #business-area {width: 80%}
    #business-area .chemistry {width: 71%}
    #business-area .chemistry .text-box {margin-left: 180px}
    #color-paste-area > .inner {width: 100%;}
    #color-paste-area .text-box {margin-left: 150px}
    .slide-btn > a {right: 5.35%}
    }

@media screen and (min-width: 1101px) and (max-width: 1330px) {
    html {font-size: 9px}
    .inner {width: 85%}
    .inner-s {width: 85%}
    header #header-wrap nav > .main-menu {width: 630px}
    header #header-wrap nav .sub-menu-area .sub-menu {width: 630px}
    header #header-wrap nav .sub-menu-area .sub-menu > ul:after {height: 252px;}
    #business-area {width: 80%}
    #business-area .ethanol-media {width: 60%;right: 0}
    #business-area .chemistry {background-image: none}
    #business-area .chemistry .text-box {margin-left: 250px}
    #business-area .chemistry .text-box .sub-text {color: #444}
    #business-area .chemistry .text-box h3 {color: #444}
    #business-area .chemistry .text-box .text {color: #444}
    #business-area .chemistry .text-box > .btn-more.white {border: 1px solid #111;color: #444}
    #business-area .chemistry .text-box > .btn-more.white:after {color: #fff;background-color: #222;}
    .chemistry .btn-more > span:hover {color: #fff}
    .slide-btn > a {right: 5.6%}
    .btn-more > span {line-height: 4.5}
    }

@media screen and (min-width: 701px) and (max-width: 1100px) {
    html {font-size: 8.5px}
    .inner {width: 90%}
    .inner-s {width: 95%}
    .inner-w {width: 95%}
    header {top: 0}
    .mb-menu-btn {display: block;position: absolute;top: 50%;transform: translateY(-50%);right: 2.8%;font-size: 4rem;color: #fff}
    .mb-menu-btn.on {color: #444}
    .mb-close-btn {display: block;position: absolute;top: 1%;left: -50px;font-size: 4rem;color: #fff}
    .text-box {bottom: 0;opacity: 1}
    header #header-wrap {width: 100%;background-color: transparent}
    header #header-wrap h1 {background-image: url(../img/mb-logo.png)}
    header #header-wrap h1.on {background-image: url(../img/logo.png)}
    header #header-wrap nav {position: absolute;width: 50%;height: 1000px;top: 0;right: -100%;background-color: #fff;z-index: 1}
    header #header-wrap nav.on {right: 0}
    header #header-wrap nav > .main-menu {position: absolute;width: 100%;padding: 0 1em;top: 5.8%;left: 0;transform: none;box-sizing: border-box;border-top: 1px solid #222}
    header #header-wrap nav > .main-menu > a {position: relative;float: none;width: 100%;margin: 0;padding: 0.9em 0;border-bottom: 1px solid #e2e2e2;text-align: left}
    header #header-wrap nav > .main-menu > a:after {content: '\f054';position: absolute;bottom: 15px;right: 2%;font-family: 'Font Awesome 5 Free';font-size: 1.25rem;font-weight: 600;color: #999;}
    header #header-wrap .lang-area {left: 5%;top: 3%;box-sizing: border-box;}
    header #header-wrap .lang-area > a {font-size: 1.4rem}
    header #header-wrap .search {top: 2%;right: 6%}
    header #header-wrap .search > i {font-size: 2.3rem}
    header #header-wrap nav .sub-menu-area {position: absolute;top: 5.8%;border-top: 1px solid #222}
    header #header-wrap nav .sub-menu-area .sub-menu > ul {position: absolute;float: none;right: 0;width: 50%;height: 1000vh;margin: 0;padding: 0 1.5em;box-sizing: border-box;text-align: left;background-color: #f2f2f2}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li {padding: 0.8em 0;font-weight: 500;}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li > a {font-size: 1.7rem;font-weight: 400}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li:first-child {padding-top: 1.1em}
    header #header-wrap nav .sub-menu-area .sub-menu > ul:after {display: none}
    .slide-btn > a {display: none}
    header .search-window {width: 50%;right: 0;z-index: 11}
    header .search-window form {width: 80%;height: auto;padding: 3em 0 0.5em 0}
    header .search-window form > a {right: -20px;top: 36px;font-size: 2.7rem}
    header .search-window form .search-text input {font-size: 2rem;}
    header .search-window form .search-text button {top: 85px;font-size: 3rem}
    header .search-window form .search-text button.black {position: absolute;top: -10px;right: 0;font-size: 3rem}
    #business-area {width: 92%;height: 900px}
    #business-area h2 {padding-top: 2em}
    #business-area .ethanol-media {max-width: 55%;top: -50px;right: -10px}
    #business-area .chemistry-media {width: 350px}
    #business-area .chemistry {width: 43%;height: 45%;right: 0;background-image: none}
    #business-area .chemistry .text-box {margin: 0}
    #business-area .chemistry .text-box .sub-text {color: #444}
    #business-area .chemistry .text-box h3 {color: #444}
    #business-area .chemistry .text-box .text {color: #444}
    #business-area .chemistry .text-box > .btn-more.white {border: 1px solid #111;color: #444}
    #business-area .chemistry .text-box > .btn-more.white:after {color: #fff;background-color: #222;}
    .chemistry .btn-more > span:hover {color: #fff}
    #recruit-area .recruit-social .social-area .circle-right {top: 75%}
    #color-paste-area {height: 500px}
    .btn-more > span {line-height: 4.8}
    footer .f-bot .f-logo {top: inherit}
}


@media screen and (max-width: 700px) {
    html {font-size: 8px}
    body {font-size: 1.8rem}
    .inner {width: 95%}
    .inner-s {width: 98%}
    .inner-w {width: 100%}
    h3 {font-size: 5rem}
    header {width: 100vw;top: 0}
    .mb-menu-btn {display: block;position: absolute;top: 50%;transform: translateY(-50%);right: 2.8%;font-size: 4rem;color: #fff}
    .mb-menu-btn.on {color: #444}
    .mb-close-btn {display: block;position: absolute;top: 1%;left: -50px;font-size: 4rem;color: #fff}
    .btn-more:hover:after {width: 150%;height: 200%}
    .btn-more.white:hover:after {width: 150%;height: 200%}
    .text-box {bottom: 0;opacity: 1}
    .sub-text {font-weight: 400}
    .text {font-size: 1.9rem}
    header #header-wrap {width: 100%;background-color: transparent}
    header #header-wrap h1 {background-image: url(../img/mb-logo.png)}
    header #header-wrap h1.on {background-image: url(../img/logo.png)}
    header #header-wrap nav {position: absolute;width: 70%;height: 1000px;top: 0;right: -100%;background-color: #fff;z-index: 1}
    header #header-wrap nav.on {right: 0}
    header #header-wrap nav > .main-menu {position: absolute;width: 100%;padding: 0 1em;top: 5.8%;left: 0;transform: none;box-sizing: border-box;border-top: 1px solid #222}
    header #header-wrap nav > .main-menu > a {position: relative;float: none;width: 100%;margin: 0;padding: 0.9em 0;border-bottom: 1px solid #e2e2e2;text-align: left}
    header #header-wrap nav > .main-menu > a:after {content: '\f054';position: absolute;bottom: 15px;right: 2%;font-family: 'Font Awesome 5 Free';font-size: 1.25rem;font-weight: 600;color: #999;}
    header #header-wrap .lang-area {left: 5%;top: 3%;box-sizing: border-box;}
    header #header-wrap .lang-area > a {font-size: 1.4rem}
    header #header-wrap .search {top: 2%;right: 6%}
    header #header-wrap .search > i {font-size: 2.3rem}
    header #header-wrap nav .sub-menu-area {position: absolute;top: 5.8%;border-top: 1px solid #222}
    header #header-wrap nav .sub-menu-area .sub-menu > ul {position: absolute;float: none;right: 0;width: 50%;height: 1000vh;margin: 0;padding: 0 1.5em;box-sizing: border-box;text-align: left;background-color: #f2f2f2}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li {padding: 0.8em 0;font-weight: 500;}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li > a {font-size: 1.7rem;font-weight: 400}
    header #header-wrap nav .sub-menu-area .sub-menu > ul > li:first-child {padding-top: 1.1em}
    header #header-wrap nav .sub-menu-area .sub-menu > ul:after {display: none}
    .slide-btn > a {display: none}
    header .search-window {width: 70%;right: 0;z-index: 11}
    header .search-window form {width: 80%;height: auto;padding: 3em 0 0.5em 0}
    header .search-window form > a {right: -20px;top: 36px;font-size: 2.7rem}
    header .search-window form .search-text input {font-size: 2rem;}
    header .search-window form .search-text button {top: 85px;font-size: 3rem}
    header .search-window form .search-text button.black {position: absolute;top: -10px;right: 0;font-size: 3rem}
    .swiper-slide.on {background-color: black}
    .swiper .main-text > h2 {margin-top: 30px;font-size: 6.3rem;line-height: 1}
    #business-area {width: 90%;height: auto}
    #business-area h2 {padding-top: 2em;}
    #business-area .ethanol-media {position: static;width: 100%;height: 300px}
    #business-area .ethanol-media > video {object-fit: cover;}
    #business-area .text-box {width: 100%;margin: 20px 0;text-align: center}
    #business-area .chemistry-media {position: static;width: 100%;height: 400px}
    #business-area .chemistry {position: static;width: 100%;height: 50%;background-image: none}
    #business-area .chemistry .text-box {margin: 30px 0}
    #business-area .chemistry .text-box .sub-text {color: #444}
    #business-area .chemistry .text-box h3 {color: #444}
    #business-area .chemistry .text-box .text {color: #444}
    #business-area .chemistry .text-box > .btn-more.white {border: 1px solid #111;color: #444}
    #business-area .chemistry .text-box > .btn-more.white:after {color: #fff;background-color: #222;}
    #about-area {height: auto}
    #about-area .inner-s {padding: 30px 0}
    #about-area h2 {margin-bottom: 10px}
    #about-area h4 {font-size: 2rem}
    #about-area ul {padding: 0 5%}
    #about-area ul li {float: none;width: 100%;margin: 30px 0}
    #color-paste-area {width: 100%;height: 300px}
    #color-paste-area .text-box {padding-top: 3em;text-align: center}
    #chemical-area {margin-top: 80px;margin-bottom: 30px}
    #chemical-area h2 {margin-bottom: 10px}
    #chemical-area ul li {float: none;margin: 20px 0;width: 100%}
    #chemical-area ul li figure {max-width: 100%;height: 250px}
    .chemistry .btn-more > span:hover {color: #fff}
    #recruit-area {margin: 10px 0;height: 1000px}
    #recruit-area .recruit-info {float: none;width: 100%;height: 450px}
    #recruit-area .recruit-info .man {width: 250px;height: 470px}
    #recruit-area .recruit-social {float: none;width: 100%;height: 450px}
    #recruit-area .recruit-info .info-area .info-text {margin: 5% auto}
    #recruit-area .recruit-info .info-area .info-text h3 {margin-bottom: 10px}
    #recruit-area .recruit-info .info-area .info-text .text-area .time {margin-bottom: 1px;font-size: 1.8rem}
    #recruit-area .recruit-info .info-area .circle-right {display: none}
    #recruit-area .recruit-social .social-area .circle-right {top: 80%}
    #news-area {margin-bottom: 20px}
    #news-area h2 {margin-bottom: 20px}
    #news-area .news-contents {margin-bottom: 50px}
    #news-area .news-contents .news-list {height: 80px}
    #news-area .news-contents .news-list .date {display: none}
    #news-area .news-contents .news-list .news-text {padding: 0;width: 90%}
    #news-area .news-contents .news-list .news-text .text-t {margin-bottom: 1.5em}
    #news-area .news-contents .news-list .circle-right {margin-top: 10px}
    #news-area .news-contents .btn-more {margin: 20px auto}
    #news-area .news-contents .btn-more > span {line-height: 4}    
    #news-area .notice-area > div {float: none;width: 100%;padding: 0;margin: 20px 0}
    #news-area .notice-area .stock b {font-size: 7rem}
    #news-area .notice-area .stock .stock-about time {font-size: 1.7rem}
    #news-area .notice-area .stock .stock-about span {font-size: 2rem}
    #news-area .notice-area .ir ul li .text {font-size: 2rem}
    #point-area > div .point-text {width: 100%}
    .slide-btn > a {right: 6.25%}
    .btn-more {width: 300px;font-size: 1.8rem}
    .btn-more > span {line-height: 3.9}
    footer .f-bot .f-logo {top: inherit}
}